:root {
    --primary-color: #3498db;
    --secondary-color: #111827;
    --background-color: #1e293b;;
    --text-color: #ecf0f1;
    --muted: #95a5a6;
    --card: #e5eaee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pretendard, Arial, sans-serif;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

.background-overlay {
    position: fixed;
    inset: 0;

    background:
        radial-gradient(circle at top,
        rgba(52,152,219,.15),
        transparent 60%);

    pointer-events: none;
}

#title {
    font-size: clamp(4rem, 10vw, 7rem);
    font-weight: 900;

    letter-spacing: 6px;

    margin-bottom: 1rem;

    text-transform: uppercase;

    text-shadow:
        0 0 10px rgba(52,152,219,.5),
        0 0 30px rgba(52,152,219,.3);
}